 <%- include('./partials/head') %>

<main>

    <% tno.forEach(tno => { %>
        <p id="intro" class="intro"><%= tno.intro %></p>
    <% }) %>

    <%- include('./partials/infographic') %>
    
    <% tno.forEach(item => { %>
        <% item.chapters.forEach(chapter => { %>
            <article>
                <div class="mobilePopup" id="moreInf-<%= chapter.id %>">
                    <a href="#intro" class="closePopupButton">
                        <picture>
                            <img class="popupImage" src="/images/closeButton.svg" alt="close popup" loading="lazy">
                    </a>

                    <picture>
                        <img class="popupImage" src="/images/<%= chapter.title %>.svg" alt="<%= chapter.title %>" loading="lazy">
                    </picture>         
                    <div class="info">      
                        <h2 class="title"><%= chapter.title %></h2>
                        <p class="content"><%- chapter.content %></p>
                    </div>
                    <a href="<%= chapter.video_url %>" class="video">Bekijk de video <%- include('./partials/arrow') %></a>
                </div>
            </article>
        <% }) %>


    <% }) %>

</main>

<%- include('./partials/foot') %>

